{% if message %}

<div id="message-container" onclick="this.remove()">{{message}}
    <button id="close">X</button>
</div>

<style>
    #message-container{
        background-color: lightgrey;
        color: grey;
        font-weight: bold;
        padding: 10px;
        margin: 5px;
        width: 99vw;
        border-radius: 7px;
        cursor: pointer;
    }

    #close{
        background-color: inherit;
        color: inherit;
        font-size: 20px;
        font-weight: 600;
        position: absolute;
        top: 11px;
        right: 20px;
        width: 40px;
        border: none;
        cursor: pointer;
    }
</style>

{% endif %}
