/* google fonts import Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "poppins", sans-serif;
	box-sizing: border-box;
}


/* Overriding colors for navbar */
nav span a {
	color: rgb(83, 161, 251);
}

nav span a::after {
	background: #0091ea;
}

/*  */


main {
	position: absolute;
	left: 50%;
	top: 48%;
	width: 65%;
	max-width: 1500px;
	transform: translate(-50%, -50%);
	padding-top: 40px;
	text-align: justify;
}

main h1 {
	font-size: 42px;
	font-weight: 600;
}

main hr {
	margin: 20px 0px 10px 0px;
}

main ul {
	margin-left: 20px;
}

main h3 {
	padding-top: 10px;
	padding-bottom: 5px;
}