{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href={% static 'favicon/apple-touch-icon.png' %}>    
    <link rel="icon" type="image/png" sizes="32x32" href={% static 'favicon/favicon-32x32.png' %}>
    <link rel="icon" type="image/png" sizes="16x16" href={% static 'favicon/favicon-16x16.png' %}>
    <link rel="manifest" href={% static 'favicon/site.webmanifest' %}>
    <title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href={% static 'css/navbar.css' %}>
	<link rel="stylesheet" type="text/css" href={% block css_file %}{% endblock css_file %}>
</head>

<body>
    <nav>
		<img src={% static 'images/eci-logo.png' %} alt="logo">
		<span>
			<a href={% url 'index' %}>Home</a>
			<a href={% url 'about' %}>About</a>
			<a href={% url 'vote' %}>Vote</a>
			<a href={% url 'index' %}>Contact</a>
		</span>
	</nav>

    {% block body %}{% endblock body %}
    
</body>

</html>