{% extends 'base.html' %}
{% load static %}

{% block title %}Blockchain Based E-Voting system{% endblock title %}
{% block css_file %}{% static 'css/index.css' %}{% endblock css_file %}

{% block body %}

	<main>
		<h1>Blockchain Voting System</h1>

		<form action="login" method="post">
			<div class="container">
				{% csrf_token %}
				<input type="text" name="voterId" class="voterId" autofocus placeholder=" &#x270e; Enter Voter Id" oninput="this.value = this.value.toUpperCase()">
				<input type="Submit" value="Verify" class="submitBtn">
			</div>
		</form>

		<h3>Don't have Voter Id? &nbsp; <a class= "create" href="https://www.nvsp.in/">Create One</a></h3>
	</main>

	<script src={% static 'js/home.js' %}></script>

{% endblock body %}