{% extends 'base.html' %}
{% load static %}

{% block title %}Blockchain Based E-Voting system{% endblock title %}
{% block css_file %}{% static 'css/waitPage.css' %}{% endblock css_file %}


{% block nav_items %}
	<a href={% url 'about' %}>About</a>
	<a href={% url 'contact' %}>Contact</a>
	{% include 'include/logout.html' %}
{% endblock nav_items %}


{% block body %}

	<main>
		<h1>You have already voted !</h1>
		<h1>Please wait for the results.</h1>
		<br><br>
		<h1>Result declaration : 16 Janauary 2022</h1>
	</main>

{% endblock body %}
